<h1>Voici la tâches à réaliser : </h1>
<ul>
<li><%= "Tâche à réaliser : #{@task.name}"%></li>
<li><%= "Crée le #{@task.created_at}" %></li>
</ul>
<%= link_to "Update", edit_task_path(@task)%>
<%= link_to "Back to Tasks", tasks_path %>
